@font-face {
    font-family: arcade;
    src: url(assets/arcade.ttf);
}
@font-face {
    font-family: heavytal;
    src: url(assets/Heavytal.ttf);
}
body {
    background-color: black;
    font-family: arcade;
    user-select: none;
    overflow: hidden;
}
#prologue, #ingame {
    display: none;
    inset: 0;
    position: absolute;
}
#prologue {
    position: absolute;
    inset: 0;
}
.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/space.png);
    background-size: 90vh 90vh;
    opacity: 0.3;
    filter: grayscale(1) brightness(1) contrast(1);
}
#transition {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
}
#prologueBox {
    position: absolute;
    gap: 5vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 5vh;
    color: white;
    text-shadow: 0 0 1vh white;
    text-align: center;
}
#beems {
    width: 20vh;
    height: 20vh;
    background-image: url(assets/beemscat.png);
    background-size: 100% 100%;
    box-shadow: 0 0 1vh white;
}
#dialogue {
    text-align: center;
    width: 100%;
}
#next {
    width: 20vh;
    height: 5vh;
    font-size: 3vh;
    font-family: arcade;
    background-color: black;
    color: white;
    border: solid white 0.5vh;
}
#next:hover {
    scale: 1.1;
}
#interact {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color:white;
}
#dialogueCertain {
    color: red;
    text-shadow: none;
}
#BCFYText {
    display: none;
}
.BCFYT {
    position: absolute;
    left: 50%;
    top: 74%;
    width: 100vw;
    text-align: center;
    transform: translate(-50%,-50%);
    opacity: 0.4;
    color: red;
    text-shadow: none;
}
#vignette {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-image: url(assets/vignette.png);
    background-size: 100% 100%;
    pointer-events: none;
}
#officeBG {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-image: url(assets/office.png);
}
#fogBg {
    position: absolute;
    inset: 0;
    pointer-events: none;
}
.fog {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    background-size: 100% 100%;
    background-image: url(assets/fog.png);
    pointer-events: none;
}
.door {
    width: 20vh;
    height: 40vh;
    background-size: 100% 100%;
    background-image: url(assets/door.png);
    box-shadow: 0 0 2vh black;
    margin: auto;
}
.doorChar {
    width: 20vh;
    height: 40vh;
    background-size: 100% 100%;
    background-image: url(assets/beemscat.png);
    box-shadow: 0 0 2vh black;
    margin: auto;
    pointer-events: none;
}
#doors, #doorCharacters {
    position: absolute;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 30vh);
    right: 0;
    top: 53.5%;
    width: 100%;
    transform:translate(50%,-50%);
}
#doorCharacters {
    pointer-events: none;
}
#openCams {
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 1vh 2vh;
    border: solid black 1vh;
    font-size: 4vh;
    box-shadow: 0 0 1vh black;
}
#openCams:hover {
    transform: translate(-50%,-50%) scale(1.2);
}
#camBackground {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/cam0.png);
    background-size: 100% 100%;
    z-index: -1;
    pointer-events: none;
}
#cams {
    display: none;
}
#camButtons {
    position: absolute;
    display: grid;
    gap: 10vh;
    grid-template-rows: 6vh 6vh;
    grid-template-columns: 10vh 10vh 10vh;
    right: 10vh;
    bottom: 10vh;
    background-color: rgba(0,0,0,0.5);
    padding: 1vh;
    z-index: 2;
}
#camButtons button {
    border: solid black 1vh;
    font-size: 2vh;
    padding: 0;
    font-family: arcade;
    background-color: white;
    box-shadow: 0 0 1vh black;
}
#shockButton {
    position: absolute;
    font-family: arcade;
    padding: 2vh;
    right: 37vh;
    border: solid black 1vh;
    font-size: 5vh;
    top: 50%;
    transform: translate(50%,-50%);
    z-index: 2;
    box-shadow: 0 0 1vh black;
}
#textUI {
    position: absolute;
    left: 1vh;
    bottom: 1vh;
    font-size: 3.5vh;
    color: white;
    text-shadow: 0 0 1vh black;
    pointer-events: none;
}
#leftCharacters {
    position: absolute;
    left: 5vh;
    top: 20%;
    font-size: 5vh;
    color: white;
    text-shadow: 0 0 1vh black;
    -webkit-text-stroke: black 0.1vh;
    transform: translate(0,-50%);
}
#leftBeems {
    position: absolute;
    left: 5vh;
    top: 53.5%;
    width: 30vh;
    height: 40vh;
    background-image: url(assets/beemscat.png);
    background-size: 100% 100%;
    transform: translate(0,-50%);
}
#foxyBeems, #impurityBeems {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30vh;
    height: 40vh;
    background-image: url(assets/beemscat.png);
    background-size: 100% 100%;
    transform: translate(-50%,-50%);
}
#impurityBeems {
    background-image: url(assets/russianbeems.png);
}
#prologueHelper {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 0.5vh;
}
#stats {
    position: absolute;
    left: 1%;
    bottom: 1%;
    font-size: 4vh;
    color: white;
    transform: translate(0,0);
}
#settingsOpen {
    position: absolute;
    right: -1vh;
    top: -8vh;
    color: white;
    font-size: 3vh;
    border: solid white 1vh;
    padding: 1vh;
    background-color: black;
    font-family: arcade;
}
#otherSettings {
    display: flex;
    flex-direction: column;
}
#settings {
    position:absolute;
    right: 0;
    bottom: -52vh;
    width: 50vh;
    height: 50vh;
    background-color: black;
    border: solid white 1vh;
    font-size: 2vh;
    font-family: arcade;
    margin: 0;
    color: white;
    padding-inline: 1vh;
}
#settings div {
    display: flex;
}
#settingsOpen:hover {
    scale: 1.2;
}
.cb {
    appearance: none;
    background-color: white;
    width: 2vh;
    height: 2vh;
    border: none;
    margin: 0;
}
.cb:checked {
    background-image: url(assets/checked.jpg);
    background-size: 100% 100%;
}
#start {
    position: absolute;
    right: 1vh;
    bottom: 1vh;
    color: white;
    font-size: 2vh;
    border: solid white 0.5vh;
    padding: 1vh;
    background-color: black;
    font-family: arcade;
}
#killer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 6vh;
    color: white;
    pointer-events: none;
    z-index: 3;
    text-shadow: 0 0 1vh black;
}
#modeName {
    position:absolute;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    left: 1vh;
    bottom: 5%;
    font-size: 2vh;
}
#name { 
    margin-top: -1vh;
    font-size: 0.7vh;
    width: 50vh;
    align-items: center;
}
#win {
    display: none;
}
#winText {
    position: absolute;
    display: flex;
    flex-direction:column;
    gap: 10vh;
    left: 50%;
    align-items: center;
    top: 50%;
    overflow-y: scroll;
    height: 50vh;
    width: 50vh;
    transform: translate(-50%,-50%);
    padding: 4vh;
    background-color: rgba(255,255,255,0.2);
    color: white;
    text-shadow: 0 0 1vh white;
    box-shadow: 0 0 5vh gray;
    border-radius: 3vh;
}
#beemsWin {
    width: 30vh;
    height: 30vh;
}
#maxModeCompleted {
    border: solid white 0.5vh;
    padding: 1vh 2vh;
    background-color: black;
    color: white;
    font-family: arcade;
}
#lastMinute {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 60vh;
    color: white;
    text-shadow: 0 0 2vh white;
    transform: translate(-50%,-50%);
    opacity: 0.5;
    pointer-events: none;
}
#silhouette {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 80vh;
    height: 80vh;
    background-image: url(assets/silhouette.png);
    background-size: 100% 100%;
    transform: translate(-50%,0);
    opacity: 0.5;
    pointer-events: none;
}
.cb2 {
    display: flex;
    appearance: none;
    background-color: white;
    width: 2vh;
    height: 2vh;
    border: none;
    flex-direction: column;
    margin-top: 3vh;
}
.cb2:checked {
    background-image: url(assets/beemscat.png);
    background-size: 100% 100%;
}
#silentBeemathon {
    font-family: heavytal;
    opacity: 0;
    font-size: 0.1vh;
    width: 1vh;
    color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 40%, #000000 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
#beemsNeverClear {
    color: black;
    font-weight: 1;
    text-shadow: 0 0 1vh red;
    font-size: 2vh;
}
#EEBCFY {
    background-image: linear-gradient(180deg, #77a2ff 40%, #ffffff 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
@keyframes acText {
    0% {
        background-image: linear-gradient(0deg, #000000 20%, #ff0000 90%);
        text-shadow: 0 0 1vh red;
    }
    33% {
        background-image: linear-gradient(90deg, #000000 20%, #ff0000 90%);
        text-shadow: 0 0 1vh black;
    }
    66% {
        background-image: linear-gradient(180deg, #000000 20%, #ff0000 90%);
        text-shadow: 0 0 1vh red;
    }
    100% {
        background-image: linear-gradient(270deg, #000000 20%, #ff0000 90%);
        text-shadow: 0 0 1vh black;
    }
}
#BCFYAC {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    animation-name: acText;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}
#speedhack {
    appearance: none;
    width: 5vh;
    height: 2vh;
    font-size: 1.5vh;
    border: none;
}
#modesDiv {
    display: flex;
    flex-direction: column;
    width:max-content;
}
.title {
    font-size: 2.5vh;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}
.extraMode {
    margin-top: -0.6vh;
    margin-bottom: 1vh;
}
.extraMode:hover {
    transform: translate(5%,0) scale(1.1);
}
#mortimerBeems {
    position: absolute;
    display: none;
    inset: 0;
    left: 40vh;
    top: 53.5%;
    width: 30vh;
    height: 40vh;
    background-image: url(assets/beemscat.png);
    background-size: 100% 100%;
    transform: translate(0,-50%);
    filter:contrast(3) saturate(3) grayscale(1);
}
#bulletBeems {
    position: absolute;
    width: 10vh;
    height: 3vh;
    background-image: url(assets/beemscat.png);
    background-size: 100% 100%;
    top: 50%;
    transform: translate(-50%,-50%);
}